@use "../abstracts/tokens" as token;
@use "../abstracts/mixins" as mix;
@use "../abstracts/functions" as fn;

// ===================================================
// AXIS — FOOTER (Section)
// ===================================================

@keyframes fade-in-badge {
  0% {
    opacity: token.$opacity-0;
    transform: translateY(15px);
  }
  100% {
    opacity: token.$opacity-100;
    transform: translateY(0);
  }
}

@keyframes enable-click {
  to { pointer-events: auto; }
}

footer {
  @include mix.flex($justify: center);
  z-index: fn.z(content);
  position: sticky;
  bottom: 1.2rem;
  margin-bottom: 1.2rem;

  opacity: token.$opacity-100;

  @supports (animation-timeline: scroll()) {
    opacity: token.$opacity-0;
    pointer-events: none;
    animation: fade-in-badge linear forwards, enable-click linear forwards;
    animation-timeline: scroll(), scroll();
    animation-range: 0 30vh, 25vh 30vh;
  }
}
